<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#557153"/>
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>wr. KATINEUNG</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Skip to Content</a>

  <header class="header">
    <a href="/">
      <h1 class="header_title">wr. KATINEUNG</h1>
    </a>

    <button id="hamburgerButton" class="header_menu" aria-label="button menu dropdown">☰</button>
    <nav id="navigationDrawer" class="nav">
      <ul class="nav_list">
        <li class="nav_item"><a href="/">HOME</a></li>
        <li class="nav_item"><a href="#/favorite">FAVORITE</a></li>
        <li class="nav_item"><a href="https://www.linkedin.com/in/pungkyba/" target="_blank">ABOUT US</a></li>
      </ul>
    </nav>
  </header>

  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">Welcome to wr. Katineung</h1>
      <p class="hero_tagline">
        Provides a Variety of Typical Javanese Menus and All Types of Indomie Dishes
      </p>
    </div>
  </div>

  <main tabindex="0" id="mainContent" class="main-resto_container"></main>

  <footer>
    <ul>
      <li><a href="https://www.instagram.com/pungky_gp" target="_blank">Instagram</a></li>
      <li><a href="https://www.facebook.com/pungky.alamsyah" target="_blank">Facebook</a></td>
      <li><a href="https://wa.me/6282323566163" target="_blank">Contact</a></li>
    </ul>
    <p>Copyright &copy; 2022 - wr. Katineung.</p>
  </footer>
</body>

</html>